img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

p {
    font-family: indie flower;
    margin-left: 1.66%;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid rgb(94, 3, 82);
    width: 30%;
    padding-bottom: 20px;
}